@media only screen and (max-width: 767px) {
  /* Start Landing */

  .landing-main {
    width: 88%;
    margin: auto;
    top: 60px;
  }

  .landing-main h1 {
    transform: translateX(-9px)
  }

  .landing-header h1:first-child {
    font-size: 30vw;
  }

  .landing-header h1:nth-child(2) {
    font-size: 18vw;
  }

  .landing-blurb {
    margin-top: 14px;
    line-height: 2;
    font-size: 3vw;
  }

  .landing-main nav {
    margin-top: 20px;
  }

  .landing-main nav a {
    margin: 8px auto; 
  }

  /* End Landing */

  /* Start Navigation Header */

  .nav-header a {
    padding: 3vw;
    font-size: 3.6vw;
  }

  /* End Navigation Header */

  /* Start Works */

  .works-main {
    width: 88%;
    display: block;
    top: 70px;
  }

  /* End Works */

  /* Start Work Preview */

  .work-preview {
    margin-bottom: 35px;
  }

  .work-preview p {
    font-weight: 400;
    font-size: 18px;
  }

  /* End Work Preview */

  /* Start Work Detail */

  .detail-work-main {
    width: 88%;
    margin: auto;
    top: 60px;
  }

  .slick-slider {
    width: 100%;
  }

  .detail-work-main .copy {
    top: 100px;
    position: relative;
  }

  /* End Work Detail */
}
