:root {
    --black: #383838;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

main {
    max-width: 660px;
    margin: auto;
}

/* Start Landing */

.landing-main {
    /* display: flex;
    flex-flow: column nowrap;
    justify-content: center; */
    position: relative;
    top: 130px;
}


.landing-header {
    text-align: center;
    line-height: 0.85;
}

.landing-header h1 {
    margin: 0px;
    font-weight: 900;
}

.landing-header h1:first-child {
    font-size: 200px;
}

.landing-header h1:nth-child(2) {
    font-size: 120px;
}

.landing-blurb {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 0;
    font-weight: 600;
}

.landing-main nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* margin-top: 40px; */
    margin: 40px 20px 0px 20px;
}

/* End Landing */

.button {
    margin: 0px;
    width: 170px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    border: 1px solid var(--black);
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transition-property: color, background-color;
    transition-duration: 150ms;
}

.button:link, .button:visited {
    color: var(--black);
}

.button:hover, .button:active {
    color: white;
    background-color: var(--black);
}

/* Start Navigation Header */

.nav-header {
    position: fixed;
    z-index: 10;
    width: 100%;
    border-bottom: 1px solid var(--black);
    background-color: white;
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.nav-header a {
    padding: 20px;
    text-decoration: none;
    color: var(--black);
}

.nav-header a:first-child {
    border-right: 1px solid var(--black);
}

.nav-header .current {
    font-weight: 900;
}

.nav-header a:link, .nav-header a:visited {
    text-decoration: none;
}

.nav-header a:hover, .nav-header a:active {
    text-decoration: underline;
}

/* End Navigation Header */

/* Start Works */

.works-main {
    position: relative;
    top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    z-index: 1;
    grid-gap: 14px;
}

/* End Works */

/* Start Work Preview */

.work-preview {
    height: 285px;
    width: 190px;
    box-shadow: 0px 24px 60px -14px rgba(0,0,0,0.1);

}

.work-preview p {
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
    padding: 0px 4px;
}

.work-preview img {
    width: 100%;
}

/* End Work Preview */