@import './normalize.css';
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,900');

:root {
    --black: #383838;
}

html {
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

main {
    max-width: 660px;
    margin: auto;
}

.landing-main {
    /* display: flex;
    flex-flow: column nowrap;
    justify-content: center; */
    position: relative;
    top: 130px;
}


.landing-header {
    text-align: center;
    line-height: 0.85;
}

.landing-header h1 {
    margin: 0px;
    font-weight: 900;
}

.landing-header h1:first-child {
    font-size: 200px;
}

.landing-header h1:nth-child(2) {
    font-size: 120px;
}

.landing-blurb {
    text-align: center;
    font-size: 16px;
    letter-spacing: 0.02em;
    line-height: 0;
    font-weight: 600;
}

.landing-main nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    /* margin-top: 40px; */
    margin: 40px 20px 0px 20px;
}

.button {
    margin: 0px;
    width: 170px;
    height: 60px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    border: 1px solid var(--black);
    border-radius: 4px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    transition-property: color, background-color;
    transition-duration: 150ms;
}

.button:link, .button:visited {
    color: var(--black);
}

.button:hover, .button:active {
    color: white;
    background-color: var(--black);
}

.nav-header {
    position: fixed;
    width: 100%;
    border-bottom: 1px solid var(--black);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

.nav-header a {
    padding: 20px;
    text-decoration: none;
    color: var(--black);
}

.nav-header a:first-child {
    border-right: 1px solid var(--black);
}

.nav-header .current {
    font-weight: 900;
}

.nav-header a:link, .nav-header a:visited {
    text-decoration: none;
}

.nav-header a:hover, .nav-header a:active {
    text-decoration: underline;
}