:root {
  --black: #383838;
}

html {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
}

/* Start Landing */

.landing-main {
  position: relative;
  top: 130px;
  max-width: 660px;
  margin: auto;
}

.landing-header {
  text-align: center;
  line-height: 0.85;
}

.landing-header h1 {
  margin: 0px;
  font-weight: 900;
}

.landing-header h1:first-child {
  font-size: 200px;
}

.landing-header h1:nth-child(2) {
  font-size: 120px;
}

.landing-blurb {
  text-align: center;
  font-size: 16px;
  letter-spacing: 0.02em;
  margin: 0px;
  /* line-height: 0; */
  font-weight: 600;
}

.landing-main nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  /* margin-top: 40px; */
  margin: 40px 20px 0px 20px;
}

/* End Landing */

.button {
  margin: 0px;
  width: 170px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  border: 1px solid var(--black);
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  transition-property: color, background-color;
  transition-duration: 150ms;
}

.button:link,
.button:visited {
  color: var(--black);
}

.button:hover,
.button:active {
  color: white;
  background-color: var(--black);
}

/* Start Navigation Header */

.nav-header {
  position: fixed;
  z-index: 10;
  width: 100%;
  border-bottom: 1px solid var(--black);
  background-color: white;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  box-shadow: 0px 14px 40px -14px rgba(0, 0, 0, 0.048);
}

.nav-header a {
  padding: 20px;
  text-decoration: none;
  color: var(--black);
}

.nav-header a:first-child {
  border-right: 1px solid var(--black);
}

.nav-header .current {
  font-weight: 900;
}

.nav-header a:link,
.nav-header a:visited {
  text-decoration: none;
}

.nav-header a:hover,
.nav-header a:active {
  text-decoration: underline;
}

/* End Navigation Header */

/* Start Works */

.works-main {
  position: relative;
  top: 100px;
  display: grid;
  width: 850px;
  margin: auto auto 50vh auto;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 365px;
  justify-items: center;
  z-index: 1;
  grid-gap: 12px;
}

/* Start Work Preview */

.work-preview {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.125);
  text-decoration: none;
  color: var(--black);
}

.work-preview p {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  margin: auto;
  padding: 8px;
}

/* End Work Preview */

/* End Works */

/* Start Work Detail */

.detail-work-main {
  position: relative;
  top: 100px;
  width: 1260px;
  margin: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.detail-work-main .copy {
  /* box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.1); */
  width: 500px;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0px 0px 50px 23px rgba(0, 0, 0, 0.112);
 }

.detail-work-main h1 {
  margin-top: 0px;
}

.image-gallery-content {
  height: 500px;
  width: 500px;;
}

.detail-buttons {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}


/* End Work Detail */
