:root {
  --black: #383838;
}

html {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
}

/* Start Landing */

.landing-main {
  position: relative;
  top: 10vh;
  margin: auto;
  width: 90%;
  max-width: 660px;
}

.landing-header h1 {
  text-align: center;
  line-height: 0.85;
  margin: 0px;
  font-weight: 900;
}

.landing-header h1:first-child {
  font-size: 26vw;
}

.landing-header h1:nth-child(2) {
  font-size: 15.63vw;
}

.landing-blurb {
  text-align: center;
  margin: 0px;
  font-weight: 600;
  font-size: 2.22vw;
  letter-spacing: 0.02em;
}

.landing-icons {
  margin: 4em auto;
  width: 94%;
  display: flex;
  align-items: space-around;
  justify-content: space-between;
}

.landing-icon {
  height: 50px;
  fill: var(--black);
}

.landing-main .button {
  margin: 30px auto;
}

.landing-main nav .button:first-of-type {
  border: 2px solid var(--black);
  font-weight: 800;
}

/* Horizontal nav */
@media only screen and (min-width: 640px) {
  .landing-main nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .landing-main .button {
    margin: 0 auto;
  }
}

/* max header size */
@media only screen and (min-width: 770px) {
  /* .landing-main */
  .landing-header h1:first-child {
    font-size: 200px;
  }

  .landing-header h1:nth-child(2) {
    font-size: 120px;
  }

  .landing-blurb {
    font-size: 17px;
  }
}

/* End Landing */

/* Navigation Header */

.nav-header {
  position: fixed;
  top: 0px;
  z-index: 2;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid var(--black);
  font-size: 16px;
  font-weight: 600;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  box-shadow: 0px 14px 40px -14px rgba(0, 0, 0, 0.048);
}

.nav-header a {
  padding: 20px 2vw;
  text-decoration: none;
  color: var(--black);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.nav-header a:first-child {
  border-right: 1px solid var(--black);
  width: 79px;
}

.nav-header .current {
  font-weight: 900;
}

.nav-header a:link,
.nav-header a:visited {
  text-decoration: none;
}

.nav-header a:hover,
.nav-header a:active {
  text-decoration: underline;
}

/* End Navigation Header */

/* Works */

.works-main {
  position: relative;
  top: 100px;
  width: 95%;
  max-width: 850px;
  margin: auto;
  z-index: 1;
}

/* Work Preview */

.work-preview {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  width: 100%;
  max-width: 300px;
  box-shadow: 0px 24px 60px -14px rgba(0, 0, 0, 0.125);
  text-decoration: none;
  color: var(--black);
  margin: 12px auto;
}

.work-preview p {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  text-align: center;
  margin: auto;
  padding: 8px;
}

@media only screen and (min-width: 715px) {
  .works-main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    grid-gap: 12px;
    max-width: 612px;
  }

  .work-preview {
    margin: 0px;
  }
}

@media only screen and (min-width: 970px) {
  .works-main {
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 924px;
  }
}

/* End Works Page */

/* Work Detail Page */

.detail-work-main {
  position: relative;
  top: 100px;
  width: 95%;
  margin: auto auto 40px auto;
}

.detail-work-main .copy {
  padding: 0px 10px;
}

.copy a,
.copy a:link,
.copy a:visited,
.copy a:hover,
.copy a:active {
  color: var(--black);
  font-weight: 500;
}

.detail-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 160px;
}

.detail-buttons .button {
  margin: auto;
}

/* Buttons */

.button {
  margin: 0px;
  width: 170px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  font-weight: 600;
  border: 1px solid var(--black);
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  transition-property: color, background-color;
  transition-duration: 150ms;
}

.button:link,
.button:visited {
  color: var(--black);
}

.button:hover,
.button:active {
  color: white !important;
  background-color: var(--black);
}

/* End Buttons */
